[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
shub = "*"

[dev-packages]
pytest = "*"
pylint = "*"
yapf = "*"
jupyter = "*"
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.6"
